{
    "singleQuote": true,
    "trailingComma": "none",
    "jsxSingleQuote": true,
    "tabWidth": 4,
    "useTabs": false,
    "semi": false,
    "arrowParens": "always",
    "printWidth": 80,
    "endOfLine": "lf",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "proseWrap": "preserve",
    "htmlWhitespaceSensitivity": "css"
}
