$bezier: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$bezier2: cubic-bezier(0.645, 0.045, 0.355, 1);
$duration: 0.74s;

.logo {
    transition: all $duration $bezier2;
    z-index: 2222;

    path {
        box-shadow: rgba(49, 131, 1) 0px 5px 15px;
        transition: transform 0.2s $bezier2 $duration;
        transition:
            fill $duration $bezier2,
            transform 0.3s $bezier;
        transform-origin: bottom right;

        &:nth-child(2) {
            transform-origin: top left;
        }
    }

    &:hover {
        transform: scale(1.04);

        path {
            fill: #3b82f6;

            // transform: scale(1.04) rotate(3deg);
            &:nth-child(2) {
                transform: scale(1.04);
                transform-origin: top left;
            }
        }
    }
}

// End animation for icon log hover

// Start styling for grid hover background

.bg-fade {
    background: linear-gradient(to bottom, #008080 0%, #006666 100%);
    filter: blur(10px);
    animation: glow 2s infinite;
}

// @keyframes glow {
//     0% {
//         background: linear-gradient(to bottom, #008080 0%, #006666 100%);
//         filter: blur(10px) brightness(150%);
//     }

//     50% {
//         background: linear-gradient(to bottom, #006666 0%, #008080 100%);
//         filter: blur(20px) brightness(120%);
//     }

//     100% {
//         background: linear-gradient(to bottom, #008080 0%, #006666 100%);
//         filter: blur(10px) brightness(150%);
//     }
// }

.bg-fade {
    background: linear-gradient(176deg, rgba(32, 24, 223, 0.2), rgba(162, 255, 252, 0.2), rgba(221, 69, 253, 0.2), rgba(25, 76, 195, 0.2), rgba(252, 237, 253, 0.2), rgba(72, 93, 175, 0.2));
    background-size: 360% 360%;
    opacity: .2;
    animation: gradient-animation 2 ease infinite;

    @keyframes gradient-animation {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    animation: gradient-animation 12s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}