$bg-fade: rgba(26, 26, 40, 0);

@mixin gradient-fade($color-start, $color-end, $start-percent, $end-percent) {
  background: $color-start;
  background: linear-gradient(0deg, $color-start $start-percent, $color-end $end-percent);
}

.grid-pattern {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transform: perspective(1021px) rotateX(9deg) translate(-160px, -173px);
  transform-origin: bottom center;

  &::before, &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    @include gradient-fade(var(--light-blue), $bg-fade, 40%, 100%);
  }
}