// components/Hamburger.module.scss

$color: #fff; // icon color
$blue: #158fef; // background color
$animation: 0.6s; // animation speed
$scale: 1; // icon scale

.hamburglar {
    transform: scale($scale);
    // margin: 13.33px auto; // 40px / 3
    position: relative;
    display: block;
    width: 22.67px; // 68px / 3
    height: 22.67px; // 68px / 3
    -webkit-touch-callout: none;
    user-select: none;
}

.isOpen {
    .path {
        animation: dash-in $animation linear normal;
        animation-fill-mode: forwards;
    }

    .animatePath {
        animation: rotate-in $animation linear normal;
        animation-fill-mode: forwards;
    }

    .burgerBunTop {
        animation: bun-top-out $animation linear normal;
        animation-fill-mode: forwards;
    }

    .burgerBunBot {
        animation: bun-bot-out $animation linear normal;
        animation-fill-mode: forwards;
    }

    .burgerFilling {
        animation: burger-fill-out $animation linear normal;
        animation-fill-mode: forwards;
    }
}

.isClosed {
    .path {
        animation: dash-out $animation linear normal;
        animation-fill-mode: forwards;
    }

    .animatePath {
        animation: rotate-out $animation linear normal;
        animation-fill-mode: forwards;
    }

    .burgerBunTop {
        animation: bun-top-in $animation linear normal;
        animation-fill-mode: forwards;
    }

    .burgerBunBot {
        animation: bun-bot-in $animation linear normal;
        animation-fill-mode: forwards;
    }

    .burgerFilling {
        animation: burger-fill-in $animation linear normal;
        animation-fill-mode: forwards;
    }
}

.burgerIcon {
    position: absolute;
    padding: 6.67px 5.33px; // 20px / 3 and 16px / 3
    height: 22.67px; // 68px / 3
    width: 22.67px; // 68px / 3
}

.burgerContainer {
    position: relative;
    height: 9.33px; // 28px / 3
    width: 12px; // 36px / 3
}

.burgerBunTop,
.burgerBunBot,
.burgerFilling {
    position: absolute;
    display: block;
    height: 1.33px; // 4px / 3
    width: 12px; // 36px / 3
    border-radius: 0.67px; // 2px / 3
    background: $color;
}

.burgerBunTop {
    top: 0;
    transform-origin: 11.33px 0.67px; // 34px / 3 and 2px / 3
}

.burgerBunBot {
    bottom: 0;
    transform-origin: 11.33px 0.67px; // 34px / 3 and 2px / 3
}

.burgerFilling {
    top: 4px; // 12px / 3
}

.burgerRing {
    position: absolute;
    top: 0;
    left: 0;
    width: 22.67px; // 68px / 3
    height: 22.67px; // 68px / 3
}

.svgRing {
    width: 22.67px; // 68px / 3
    height: 22.67px; // 68px / 3
}

.pathBurger {
    position: absolute;
    top: 0;
    left: 0;
    height: 22.67px; // 68px / 3
    width: 22.67px; // 68px / 3
    mask: url(#mask);
    -webkit-mask-box-image: url(https://raygun.io/upload/mask.svg);
}

.animatePath {
    position: absolute;
    top: 0;
    left: 0;
    width: 22.67px; // 68px / 3
    height: 22.67px; // 68px / 3
}

.pathRotation {
    height: 11.33px; // 34px / 3
    width: 11.33px; // 34px / 3
    margin: 11.33px 11.33px 0 0; // 34px / 3
    transform: rotate(0deg);
    transform-origin: 100% 0;

    &:before {
        content: '';
        display: block;
        width: 10px; // 30px / 3
        height: 11.33px; // 34px / 3
        margin: 0 1.33px 0 0; // 4px / 3
        background: $color;
    }
}

.path {
    stroke-dasharray: 80; // 240 / 3
    stroke-dashoffset: 80; // 240 / 3
    stroke-linejoin: round;
}

@keyframes rotate-out {
    0% {
        transform: rotate(0deg);
    }

    40% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate-in {
    0% {
        transform: rotate(360deg);
    }

    40% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes dash-in {
    0% {
        stroke-dashoffset: 80; // 240 / 3
    }

    40% {
        stroke-dashoffset: 80; // 240 / 3
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes dash-out {
    0% {
        stroke-dashoffset: 0;
    }

    40% {
        stroke-dashoffset: 80; // 240 / 3
    }

    100% {
        stroke-dashoffset: 80; // 240 / 3
    }
}

@keyframes bun-top-out {
    0% {
        left: 0;
        top: 0;
        transform: rotate(0deg);
    }

    20% {
        left: 0;
        top: 0;
        transform: rotate(15deg);
    }

    80% {
        left: -1.67px; // -5px / 3
        top: 0;
        transform: rotate(-60deg);
    }

    100% {
        left: -1.67px; // -5px / 3
        top: 0.33px; // 1px / 3
        transform: rotate(-45deg);
    }
}

@keyframes bun-bot-out {
    0% {
        left: 0;
        transform: rotate(0deg);
    }

    20% {
        left: 0;
        transform: rotate(-15deg);
    }

    80% {
        left: -1.67px; // -5px / 3
        transform: rotate(60deg);
    }

    100% {
        left: -1.67px; // -5px / 3
        transform: rotate(45deg);
    }
}

@keyframes bun-top-in {
    0% {
        left: -1.67px; // -5px / 3
        bot: 0;
        transform: rotate(-45deg);
    }

    20% {
        left: -1.67px; // -5px / 3
        bot: 0;
        transform: rotate(-60deg);
    }

    80% {
        left: 0;
        bot: 0;
        transform: rotate(15deg);
    }

    100% {
        left: 0;
        bot: 0.33px; // 1px / 3
        transform: rotate(0deg);
    }
}

@keyframes bun-bot-in {
    0% {
        left: -1.67px; // -5px / 3
        transform: rotate(45deg);
    }

    20% {
        left: -1.67px; // -5px / 3
        bot: 0;
        transform: rotate(60deg);
    }

    80% {
        left: 0;
        bot: 0;
        transform: rotate(-15deg);
    }

    100% {
        left: 0;
        transform: rotate(0deg);
    }
}

@keyframes burger-fill-in {
    0% {
        width: 0;
        left: 12px; // 36px / 3
    }

    40% {
        width: 0;
        left: 13.33px; // 40px / 3
    }

    80% {
        width: 12px; // 36px / 3
        left: -2px; // -6px / 3
    }

    100% {
        width: 12px; // 36px / 3
        left: 0;
    }
}

@keyframes burger-fill-out {
    0% {
        width: 12px; // 36px / 3
        left: 0;
    }

    20% {
        width: 14px; // 42px / 3
        left: -2px; // -6px / 3
    }

    40% {
        width: 0;
        left: 13.33px; // 40px / 3
    }

    100% {
        width: 0;
        left: 12px; // 36px / 3
    }
}